div{
	background-color: #d4d2e3;
	margin: 50px;
	width: 350px;
	height: 470px;
	margin: 0 auto;			/* horizontally centreing an element */
	border-radius: 20px;
	padding: 10px;
}

header{
	background-color: #b1b1b1;
	width: 330px;
	height: 65px;
	border-radius: 20px;
	margin: 0 auto;	
	font-size: xx-large;
	color: #000000;
	text-align: center;

}

table{
	background-color: #b1b1b1;
	margin: 0 auto;
	margin-top: 20px;
	margin-right: 10px;
	margin-left: 10px;
	border-radius: 20px;
}

td{
	width: 110px;
	height: 60px;
	text-align: center;
	font-size: xx-large;

}

.orange{
	color: #181414;
}

td:active{
	background-color: #e0e0d1;
	border-radius: 20px;
}